{% extends 'template.html' %}
{% load static %}
{% block content %}

    <div class="content-wrapper">
        <div class="breadcrumb-wrap bg-f br-1">
            <div class="overlay bg-black op-9"></div>
            <img src="{% static 'assets/img/shape-1.png' %}" alt="Image" class="br-shape-1">
            <img src="{% static 'assets/img/shape-2.png' %}" alt="Image" class="br-shape-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title">
                            <h2>منوی غذا</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="{% url 'index' %}">خانه </a></li>
                                <li>منوی غذا</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="Shop-wrap ptb-100">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-12">
                    <div style="width: 450px">
                        {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'add_meal' %}" class="btn w-50 mb-20"
                               style="background-color: forestgreen;color: white">افزودن غذا</a>
                        {% endif %}
                    </div>
                        <div class="row align-items-center mb-25">
                            <div class="col-xl-6 col-lg-5 col-md-4">
                                <div class="sidebar-widget search-box">
                                    <div class="form-group">
                                        <form action="{% url 'menu' %}" method="get">
                                            {{ form.searchInput }}
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </form>

                                    </div>
                                </div>
{#                                <div class="profuct-result">#}
{#                                    <p>نمایش 10 از 120 محصول</p>#}
{#                                </div>#}
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4">
                                <div class="filter-item-cat">
                                    <select>
                                        <option value="1">مرتب سازی بر اساس محبوب ترین</option>
                                        <option value="2">مرتب سازی بر اساس بالا به پایین</option>
                                        <option value="3">مرتب سازی بر اساس کم به زیاد</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4">
                                <div class="filter-item-num">
                                    <select>
                                        <option value="1">نمایش 10</option>
                                        <option value="2">نمایش 20</option>
                                        <option value="3">نمایش 30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            {% for meal in meals %}
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="feature-card style1">
                                    <div class="feature-img">
                                        <img src="{{ meal.img_url.url }}" alt="عکس {{ meal.name }}">
                                    </div>
                                    <div class="feature-info">
                                        <h3 class="feature-title"><a href="shop-details.html">{{ meal.name}}</a>
                                        </h3>
                                        <p>{{ meal.description }}</p>
                                        <div class="feature-meta">
                                            {% if meal.price_discount != meal.price and meal.price_discount %}
                                            <p class="feature-price">{{ meal.price_discount }} تومان<span>{{ meal.price }} تومان</span></p>
                                            {% else %}
                                            <p class="feature-price">{{ meal.price }} تومان<span></span></p>
                                            {% endif %}
                                        </div>
                                        {% if user.is_authenticated %}
                                            <form action="{% url 'cart' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="txtUserId" value="{{ user.id }}">
                                                <input type="hidden" name="txtMealId" value="{{ meal.id }}">
                                                <button type="submit" class="btn style2">
                                                    <i class="flaticon-shopping-bag-1"></i> افزودن به سبد خرید
                                                </button>
                                                {% if user.is_superuser %}
                                                    <a href="{% url 'delete_meal' meal.pk %}"><i class="las la-times"></i></a>
                                                {% endif %}
                                            </form>
                                        {% endif %}
                                        <div class="discount-tag">
                                            <img src="{% static 'assets/img/feature/circle-1.png' %}" alt="Image">
                                            {% if meal.discount != 0 %}
                                                <p><span>تخفیف</span>
                                                    {{ meal.discount }}%</p>
                                            {% else %}
                                                <p><span>تخفیف</span>
                                                    0%</p>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% if is_paginated %}
                            <div class="page-navigation">
                                <div class="row align-items-center">
                                    <!-- Previous button -->
                                    {% if page_obj.has_previous %}
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-start text-center smb-20">
                                            <a href="?page={{ page_obj.previous_page_number }}" class="btn prev">صفحه
                                                قبلی</a>
                                        </div>
                                    {% else %}
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-start text-center smb-20"></div>
                                    {% endif %}

                                    <!-- Page number buttons -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center smb-20">
                                        <ul class="page-nav list-style">
                                            {% for page_num in paginator.page_range %}
                                                {% if page_num == page_obj.number %}
                                                    <li><a class="active" href="">{{ page_num }}</a></li>
                                                {% else %}
                                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <!-- Next button -->
                                    {% if page_obj.has_next %}
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-end text-center">
                                            <a href="?page={{ page_obj.next_page_number }}" class="btn next">صفحه
                                                بعدی</a>
                                        </div>
                                    {% else %}
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-end text-center"></div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
{% endblock %}